In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Data.csv')

In [5]:
print(df)

    Person_ID Age_Group  Income
0           1     18-25   12000
1           2     18-25   15000
2           3     18-25   18000
3           4     18-25   14000
4           5     26-35   25000
5           6     26-35   30000
6           7     26-35   28000
7           8     26-35   27000
8           9     36-45   38000
9          10     36-45   40000
10         11     36-45   42000
11         12     36-45   39000
12         13     46-55   50000
13         14     46-55   52000
14         15     46-55   48000
15         16     46-55   51000

In [7]:
income_List = df.groupby("Age_Group")["Income"].apply(list)

In [8]:
print(income_List)

Age_Group
18-25    [12000, 15000, 18000, 14000]
26-35    [25000, 30000, 28000, 27000]
36-45    [38000, 40000, 42000, 39000]
46-55    [50000, 52000, 48000, 51000]
Name: Income, dtype: object

In [10]:
df.Income.std()

np.float64(13844.222621729254)

In [12]:
income_List.describe()

count                                4
unique                               4
top       [12000, 15000, 18000, 14000]
freq                                 1
Name: Income, dtype: object

In [13]:
df.groupby("Age_Group")["Income"].describe()

,count,mean,std,min,25%,50%,75%,max
Age_Group,,,,,,,,
18-25,4.0,14750.0,2500.000000,12000.0,13500.0,14500.0,15750.0,18000.0
26-35,4.0,27500.0,2081.665999,25000.0,26500.0,27500.0,28500.0,30000.0
36-45,4.0,39750.0,1707.825128,38000.0,38750.0,39500.0,40500.0,42000.0
46-55,4.0,50250.0,1707.825128,48000.0,49500.0,50500.0,51250.0,52000.0

In [15]:
summery = df.groupby("Age_Group")["Income"].agg(
    Mean='mean',
    Median='median',
    Mode=lambda x: x.mode().iloc[0] if not x.mode().empty else None,
    Minimum='min',
    Maximum='max',
    SD = 'std'
)

In [16]:
print(summery)

              Mean   Median   Mode  Minimum  Maximum           SD
Age_Group
18-25      14750.0  14500.0  12000    12000    18000  2500.000000
26-35      27500.0  27500.0  25000    25000    30000  2081.665999
36-45      39750.0  39500.0  38000    38000    42000  1707.825128
46-55      50250.0  50500.0  48000    48000    52000  1707.825128