In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import datasets

In [2]:
iris = datasets.load_iris()

In [3]:
df = pd.DataFrame(iris.data)

In [5]:
df

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [6]:
df = df.rename(columns={0:'SepalLengthCm', 1:'SepalWidthCm', 2:'PetalLengthCm', 3:'PetalWidthCm'})

In [7]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [15]:
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

In [16]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    species
0              5.1           3.5            1.4           0.2     setosa
1              4.9           3.0            1.4           0.2     setosa
2              4.7           3.2            1.3           0.2     setosa
3              4.6           3.1            1.5           0.2     setosa
4              5.0           3.6            1.4           0.2     setosa
..             ...           ...            ...           ...        ...
145            6.7           3.0            5.2           2.3  virginica
146            6.3           2.5            5.0           1.9  virginica
147            6.5           3.0            5.2           2.0  virginica
148            6.2           3.4            5.4           2.3  virginica
149            5.9           3.0            5.1           1.8  virginica

[150 rows x 5 columns]

In [18]:
setosa = df[df['species'] == 'setosa'].iloc[:, :-1]

In [19]:
setosa.mean()

SepalLengthCm    5.006
SepalWidthCm     3.428
PetalLengthCm    1.462
PetalWidthCm     0.246
dtype: float64

In [20]:
setosa.std()

SepalLengthCm    0.352490
SepalWidthCm     0.379064
PetalLengthCm    0.173664
PetalWidthCm     0.105386
dtype: float64

In [22]:
setosa.quantile([0.25, 0.50, 0.75])

      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.25            4.8         3.200          1.400           0.2
0.50            5.0         3.400          1.500           0.2
0.75            5.2         3.675          1.575           0.3

In [24]:
setosa = df[df['species'] == 'versicolor'].iloc[:, :-1]

In [25]:
setosa.mean()

SepalLengthCm    5.936
SepalWidthCm     2.770
PetalLengthCm    4.260
PetalWidthCm     1.326
dtype: float64

In [26]:
setosa.std()

SepalLengthCm    0.516171
SepalWidthCm     0.313798
PetalLengthCm    0.469911
PetalWidthCm     0.197753
dtype: float64

In [27]:
setosa.quantile([0.25, 0.50, 0.75])

      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0.25            5.6         2.525           4.00           1.2
0.50            5.9         2.800           4.35           1.3
0.75            6.3         3.000           4.60           1.5